@import "vars";
@import "global";

.header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0px;
  border-bottom: 1px solid rgba(#A1A1A1, 0.5);
  z-index: 10;
  &__inner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100px;
  }
}

.menu{
  &__list-item{
    display: inline-block;
    & + .menu__list-item{
      padding-left: 40px;
    }
  }
  &__list-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px
  }
}

.main{
  background: url(../img/main-br.jpg) no-repeat center/cover;
  height: 100vh;
  &__inner{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  &__info{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__title{
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    max-width: 829px;
    margin: 0 auto;
  }
  &__btn{
    display: block;
    margin: 0 auto;
    margin-top: 45px;
  }
}

.services{
  padding: 105px 0;
  &__title{
    text-align: center;
    color: #323232;
    max-width: 739px;
    margin: 0 auto 50px;
  }
  &__text{
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: $text-color;
    max-width:730px;
    margin: 0 auto;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
  &__list-item{
    display: flex;
    align-items: flex-start;
  }
  &__list-img{
    border: 1px solid #4985FF;
    border-radius: 50%;
    padding: 25px;
  }
  &__list-text{
    padding: 39px 0 0 27px;
  }
  &__list-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 12px;
  }
  &__list-info{
    font-size: 14px;
    line-height: 19px;
    color: $text-color;
    width: 193px;
  }
  &__btn{
    display: block;
    margin: 55px auto 0;
  }
}


.about{
  background: #F6F6F8;
  padding: 100px 0 70px;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 85px;
  }
  &__text{
    width: 490px;
  }
  &__title{
    color: #323232;
    margin-bottom: 40px;
  }
  &__inform{
    font-size: 16px;
    line-height: 25px;
    color: $text-color;
    margin-bottom: 30px;
  }
  &__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
  }
  &__bottom{
    margin-top: 68px;
  }
  &__bottom-list{
    display: flex;
    justify-content: space-between;
  }
  &__bottom-box{
    display: flex;
    margin-bottom: 9px;
  }
  &__bottom-number{
    font-size: 36px;
    color: #000000;
    margin-left: 20px;
  }
  &__bottom-info{
    font-size: 16px;
    color: $text-color;
  }
}


.work{
  padding: 100px 0 80px;
  position: relative;
  &::before{
    content: '';
    display: block;
    height: 490px;
    width: 100%;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }
  &__title{
    color: #FFFFFF;
    width: 577px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;
  }
  &__item{
    max-width: 300px;
  }
  &__item-img{
    border-radius: 10px;
  }
  &__item-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    margin: 30px 0;
    span{
      color: #4985FF;
    }
  }
  &__item-info{
    font-size: 16px;
    line-height: 25px;
    color: $text-color;
    margin-bottom: 30px;
  }
  &__item-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
  }
}

.projects{
  background: #F6F6F8;
  padding: 100px 0 130px;
  &__title{
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
  }
  &__info{
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: $text-color;
    width: 730px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__btn{
    display: block;
    margin: 0 auto;
  }
}
