* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

body {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 13px 0;
  width: 200px;
  display: inline-block;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  outline: 0 !important;
  cursor: pointer;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
}

.line-bot {
  border-bottom: 1px solid #E0E0E0;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0px;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
  z-index: 10;
}

.header__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100px;
}

.menu__list-item {
  display: inline-block;
}

.menu__list-item + .menu__list-item {
  padding-left: 40px;
}

.menu__list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.main {
  background: url(../img/main-br.jpg) no-repeat center/cover;
  height: 100vh;
}

.main__inner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.main__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  max-width: 829px;
  margin: 0 auto;
}

.main__btn {
  display: block;
  margin: 0 auto;
  margin-top: 45px;
}

.services {
  padding: 105px 0;
}

.services__title {
  text-align: center;
  color: #323232;
  max-width: 739px;
  margin: 0 auto 50px;
}

.services__text {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  max-width: 730px;
  margin: 0 auto;
}

.services__list {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.services__list-item {
  display: flex;
  align-items: flex-start;
}

.services__list-img {
  border: 1px solid #4985FF;
  border-radius: 50%;
  padding: 25px;
}

.services__list-text {
  padding: 39px 0 0 27px;
}

.services__list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 12px;
}

.services__list-info {
  font-size: 14px;
  line-height: 19px;
  color: #999999;
  width: 193px;
}

.services__btn {
  display: block;
  margin: 55px auto 0;
}

.about {
  background: #F6F6F8;
  padding: 100px 0 70px;
}

.about__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 85px;
}

.about__text {
  width: 490px;
}

.about__title {
  color: #323232;
  margin-bottom: 40px;
}

.about__inform {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 30px;
}

.about__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4985FF;
}

.about__bottom {
  margin-top: 68px;
}

.about__bottom-list {
  display: flex;
  justify-content: space-between;
}

.about__bottom-box {
  display: flex;
  margin-bottom: 9px;
}

.about__bottom-number {
  font-size: 36px;
  color: #000000;
  margin-left: 20px;
}

.about__bottom-info {
  font-size: 16px;
  color: #999999;
}

.work {
  padding: 100px 0 80px;
  position: relative;
}

.work::before {
  content: '';
  display: block;
  height: 490px;
  width: 100%;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.work__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.work__title {
  color: #FFFFFF;
  width: 577px;
}

.work__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 85px;
}

.work__item {
  max-width: 350px;
}

.work__item-img {
  border-radius: 10px;
}

.work__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin: 30px 0;
}

.work__item-title span {
  color: #4985FF;
}

.work__item-info {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 30px;
}

.work__item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4985FF;
}

.projects {
  background: #F6F6F8;
  padding: 100px 0 130px;
}

.projects__title {
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.projects__info {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  width: 730px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.projects__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.projects__btn {
  display: block;
  margin: 0 auto;
}

.video {
  background: url(../img/video-br.jpg) no-repeat center/cover;
  height: 570px;
  padding-top: 70px;
}

.video__title {
  text-align: center;
  margin-bottom: 30px;
}

.video__info {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.video__box {
  background: url(../img/preview-video.png) no-repeat center/cover;
  max-width: 970px;
  height: 430px;
  margin: 70px auto 0;
  z-index: 2;
  position: relative;
}

.video__btn {
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 200px;
  padding: 20px 40px;
  width: 300px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mailing {
  padding: 250px 0 85px 0;
}

.mailing__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.mailing__info {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}

.mailing__form {
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  max-width: 489px;
  margin: 30px auto 35px;
}

.mailing__input {
  width: 282px;
  height: 46px;
  border: none;
  outline: 0 !important;
  padding-left: 33px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.mailing__input::placeholder {
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}

.mailing__btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.footer {
  padding: 70px 0 30px;
  background: #F6F6F8;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 35px;
}

.footer__item-list li {
  margin-bottom: 30px;
}

.footer__item-link {
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  position: relative;
}

.footer__item-link::before {
  content: '';
  width: 5px;
  height: 9px;
  background: url(../img/arr.svg) no-repeat center/cover;
  display: inline-block;
  margin-right: 13px;
}

.footer__item-mail::before {
  background: url(../img/mail.svg) no-repeat center/cover;
  width: 12px;
  height: 9px;
}

.footer__item-phone::before {
  background: url(../img/phone.svg) no-repeat center/cover;
  width: 15px;
  height: 15px;
}

.footer__item-placeholder::before {
  background: url(../img/placeholder.svg) no-repeat center/cover;
  width: 11px;
  height: 15px;
}
